<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="file:///<%= File.join(System.paths['HANDBOOKS'], 'assets', 'css', 'bootstrap.min.css') %>" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="file:///<%= File.join(System.paths['HANDBOOKS'], 'assets', 'css', 'bootstrap-theme.min.css') %>" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="file:///<%= File.join(System.paths['HANDBOOKS'], 'assets', 'js', 'html5shiv.js') %>"></script>
      <script src="file:///<%= File.join(System.paths['HANDBOOKS'], 'assets', 'js', 'respond.min.js') %>"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
